@import "~./fonts.scss";

* {
    box-sizing: border-box;
}

body,
#root {
    height: 100%;
}

#root {
    overflow: hidden;
}

body {
    margin: 0;
}

.home {
    display: flex;
    height: 100vh;
}