@import "~./fonts.scss";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    overflow: hidden;
}

body {
    margin: 0;
}

.home {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px;

    &-track {
        background-color: #e7e7e7;
        border-radius: 3px;
    }

    &-thumb {
        background-color: #c0c0c0;
        border-radius: 3px;
    }
}